body {
background: #01121C;
max-width: 1152px;
max-height: 700px;
overflow:hidden;
}

/* texts */
.text {
  /* background-color:  #1C1C1C; */
  z-index: 3;
  opacity: 0;


}
.oopsie {
  font-family: Russo One;
  position: relative;
  top: 250px;
  left: 200px;
  z-index: 13;
  color: white;
  opacity: 0;
}
.sign {
 position: absolute;
 font-family: Russo One;
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 33px;
 color: grey;
 left: 40px;
 top: 690px;
}

.b1 {
  position: absolute;
  left: 690px;
  top: 350px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(10px);
}

.b2 {
  position: absolute;
  left: 290px;
  top: 450px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(10px);
  z-index: 12;
}
.b3 {
  position: absolute;
  left: 890px;
  top: 50px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(10px);
  z-index: 12;
}


.t1 {
  /* background-color:  #1C1C1C; */
  z-index: 3;
  opacity: 0;
  position: absolute;
  width: 210px;
  height: 90px;
  left: 27px;
  top: 196px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #E0E0E0;
}

.head1 {
  z-index: 3;
  opacity: 0;
  position: absolute;
  width: 220px;
  left: 27px;
  top: 156px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

.t2 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 201px;
  height: 160px;
  left: 320px;
  top: 220px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head2 {
  z-index: 3;
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 320px;
  top: 180px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

.t3 {
  z-index: 11;
  opacity: 0;
  position: absolute;
  width: 400px;
  height: 160px;
  left: 270px;
  top: 460px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head3 {
  z-index: 11;
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 270px;
  top: 420px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

.t4 {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 201px;
  height: 160px;
  left: 300px;
  top: 350px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head4 {
  z-index: 3;
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 300px;
  top: 310px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #E0E0E0;
}

.t5 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 201px;
  height: 160px;
  left: 820px;
  top: 200px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head5 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 820px;
  top: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

.t6 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 201px;
  height: 160px;
  left: 860px;
  top: 480px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head6 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 860px;
  top: 440px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

.t7 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 201px;
  height: 160px;
  left: 960px;
  top: 180px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #E0E0E0;
}

.head7 {
  z-index: 3;
  /* background-color:  #1C1C1C; */
  opacity: 0;
  position: absolute;
  width: 250px;
  height: 160px;
  left: 960px;
  top: 140px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #E0E0E0;
}

/* planets */

.p1 {
  position: absolute;
  width: 16.19px;
  height: 16.19px;
  left: 64.44px;
  top: 97.26px;
  z-index: 10;
}


.p2 {
  z-index: 10;
  position: absolute;
  width: 38.84px;
  height: 38.47px;
  left: 258.83px;
  top: 204.58px;
}

.p3 {
  z-index: 10;
  position: absolute;
  width: 30.78px;
  height: 30.78px;
  left: 207.75px;
  top: 548.41px;
}

.p4 {
  z-index: 10;
  position: absolute;
  width: 38.83px;
  height: 40.71px;
  left: 525px;
  top: 335px;
}

.p5 {
  z-index: 10;
  position: absolute;
  width: 40.38px;
  height: 40px;
  left: 730.38px;
  top: 204px;
}

.p6 {
  z-index: 10;
  position: absolute;
  width: 38.84px;
  height: 38.47px;
  left: 790.62px;
  top: 602.08px;
}

.p7 {
  z-index: 10;
  position: absolute;
  width: 73.6px;
  height: 42px;
  left: 1192px;
  top: 200px;
}

.planetx {
  opacity: 20%;
  z-index: 10;
  position: absolute;
  width: 952px;
  height: 952px;
  left: 475px;
  top: 485px;
  transform: rotate(-45deg);
}

/* meteor showers */

.meteor1 {
  position: absolute;
  width: 419px;
  height: 329.63px;
  left: -200px;
  top: -145.28px;
  transform: rotate(-45deg);
}

.meteor2 {
  position: absolute;
  width: 2*952px;
  height: 2*766px;
  left: 1064px;
  top: 441.76px;
  transform: rotate(-45deg);
}

.meteor3 {
  position: absolute;
  width: 2*952px;
  height: 2*952px;
  left: 1064px;
  top: 441.76px;
  transform: rotate(-45deg);
}

.meteor4 {
  position: absolute;
  width: 2*952px;
  height: 2*952px;
  left: 475px;
  top: 285px;
  transform: rotate(-45deg);
}


.meteor5 {
  position: absolute;
  width: 2*952px;
  height: 2*952px;
  left: 1064px;
  top: 441.76px;
  transform: rotate(-45deg);
}


/* stars */

.s1 {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 142px;
  top: 365px;
}

.s2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 424px;
  top: 596px;
}

.s3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 510px;
  top: 80px;
}

.s4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 927px;
  top: 352px;
}

.s5 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1080px;
  top: 44px;
}

.s6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1264px;
  top: 641.76px;
}

/* radio signals */

.radio1 {
  z-index: 5;
  position: absolute;
  width: 16.19px;
  height: 16.19px;
  left: 34.44px;
  top: 67.26px;
}

.radio2 {
  z-index: 5;
  position: absolute;
  width: 38.84px;
  height: 38.47px;
  left: 244.83px;
  top: 191.58px;
}

.radio3 {
  z-index: 5;
  position: absolute;
  width: 30.78px;
  height: 30.78px;
  left: 196.75px;
  top: 538.41px;
}

.radio41 {
  z-index: 5;
  position: absolute;
  width: 38.83px;
  height: 40.71px;
  left: 515.5px;
  top: 325px;
}

.radio42 {
  z-index: 5;
  position: absolute;
  width: 38.83px;
  height: 40.71px;
  left: 499px;
  top: 310px;
}

.radio5 {
  z-index: 5;
  position: absolute;
  width: 40.38px;
  height: 38px;
  left: 770px;
  top: 588px;
}

.radio6 {
  z-index: 5;
  position: absolute;
  width: 38.84px;
  height: 38.47px;
  left: 704.38px;
  top: 173px;
}

.radio7 {
  z-index: 5;
  position: absolute;
  width: 73.6px;
  height: 42px;
  left:470px;
  top:50px;
}
